<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>This is just for learning how to handle image in a website in html</h1>    

<h2>Fillup all details to get a image properly</h2>

<form action="/pillow2" method="post" target="_blank"></form>

<label for="side">Size of Image Sides in Px</label>
<br>
<input type="number" id="side" name="side" value="1024" required>






</form>



</body>
</html>