<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Example</title>
</head>

<body>
    <h1>
        <a href="/image_checking" target="_blank" >
            Image Checking 🖼️🖼️🖼️
        </a>
    </h1>
<hr>
    <h1>
        <a href="/input_type_checking" target="_blank" >
            Checking Inputs Methods Values
        </a>
    </h1>


    <br><br><br>

    <h1>Image Testing with Pillow</h1>
    <form action="/pillow1" method="post" target="_blank">

        <!-- Input for the square image size -->
        <label for="side">Size of Square Image in px:</label>
        <input type="number" id="side" name="side" value="1024" required>
        <br><br>

        <!-- Input for the background color -->
        <label for="bg_color">Background Color (RGB):</label>
        <input type="text" id="bg_color" name="bg_color" value="(255,255,255)">
        <br><br>


        <!-- Input for circle radius -->
        <label for="circle_radius">Circle Radius in px:</label>
        <br>
        <input type="number" id="circle_radius" name="circle_radius" value="500" required min="100" max="600">
        <br><br>

        <!-- Input for circle fill color -->
        <label for="circle_fill">Circle Fill Color (RGB):</label>
        <input type="text" id="circle_fill" name="circle_fill" value="(255,0,0)" required>
        <br><br>

        <!-- Input for circle outline color -->
        <label for="circle_outline">Circle Outline Color (RGB):</label>
        <input type="text" id="circle_outline" name="circle_outline" value="(0,255,0)" required>
        <br><br>

        <!-- Input for circle outline width -->
        <label for="outline_width">Outline Width in px:</label>
        <br>
        <input type="number" id="outline_width" name="outline_width" value="10" required>
        <br><br>

        <!-- Submit button -->
        <button type="submit">Generate Image</button>
    </form>

    <div class="container text-center"></div>

    <hr>
    <hr>
    <hr>
    <h1>Doing Mathematics🖩🖩🖩</h2>

        <h3>Write Two Number to get the sum</h3>

        <form action="/sum" method="post" target="_blank">

            <label for="num1">Enter The 1st Number</label>
            <br>
            <input type="number" , id="num1" , name="num1" , value="10">
            <br><br>
            <label for="num2">2nd Number</label><br>
            <input type="number" , id="num2" , name="num2" , value="10">
            <br><br><br>

            <button type="submit">Get the Sum of the Numbers</button>
        </form>

        <hr>
        <hr>
        <hr>

        <h1>Fill Out Your Details</h1>

        <form action="/submit" method="POST" , target="_blank">

            <label for="fname">First name:</label><br>
            <input type="text" id="fname" name="fname" value="John"><br><br>


            <label for="lname">Last name:</label><br>
            <input type="text" id="lname" name="lname" value="Doe"><br><br>
            <br>
            <input type="email" id="email" name="email" placeholder="Enter your email"><br><br>

            <button type="submit">Submit Your Data New TAB Window</button>
            <br>
            After You will submit it will open in new tab as i used: target="_blank"

        </form>

        <br>


</body>

</html>