<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter Forms Data</title>
</head>

<body>
    <h1>This will help to check different type of form fillup</h1>

    <form action="/input_type_learning" method="post" target="_blank">

        <h3><label for="type_text">Write Text Data Below👇</label></h3>
        <input type="text" id="type_text" name="type_text" placeholder="Enter text here">

        <h1></h1>
        <input type="password" id="password" name="password" placeholder="Enter your password">
        <h1></h1>
        <input type="email" id="email" name="email" placeholder="Enter your email">
        <h1></h1>
        <input type="number" id="age" name="age" min="1" max="100" step="1" value="10">
        <h1></h1>
        <input type="checkbox" id="subscribe" name="subscribe" value="newsletter">
        <label for="subscribe">Subscribe to Rana Universe</label>
        <h1></h1>

        <p>Choose One of the Below👇</p>
        <input type="radio" id="male" name="gender" value="male">
        <label for="male">Male</label>
        <input type="radio" id="female" name="gender" value="female">
        <label for="female">Female</label>
        <h1></h1>
        <input type="date" id="birthday" name="birthday">
        <h1></h1>
        <input type="file" id="upload" name="upload">
        <br>
        <label for="upload">This is You need to Choose any file</label>

        <h1></h1>
        <input type="color" id="favcolor" name="favcolor">

        <h1></h1>
        <input type="range" id="volume" name="volume" min="0" max="100" value="50">

        <h1></h1>
        <input type="tel" id="phone" name="phone" placeholder="123-456-7890">

        <h1></h1>
        <input type="search" id="query" name="query" placeholder="Search here">
        <h1></h1>
        <input type="hidden" id="user_id" name="user_id" value="12345">
        <h1></h1>



        <h1></h1>
        <button type="submit">Press Here</button>

    </form>
</body>

</html>