<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Current Time</title>
    <style>
        h1 {
            font-size: 48px;
            color: blue;
        }

        .time {
            font-size: 24px;
        }

        .links {
            margin-top: 20px;
        }

        .links a {
            font-size: 20px;
            text-decoration: none;
            margin-right: 15px;
            color: green;
        }

        .links a:hover {
            color: rgb(255, 0, 0);
        }
    </style>
</head>

<body>
    <h1>{{ name_data.upper() }}</h1>
    <div class="time">
        Current Time in India is: <br><br>
        <span style="color: red; font-size: 50px;">{{ time }}</span>
    </div>
    <div class="links">
        <!-- Clickable links to /about and /contact -->
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
    </div>
</body>


</html>